@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Recipe>

<h2 style="color: black; text-align: center">My Favorite Recipes</h2>
@if (Model == null || Model.Count() == 0)
{
    <p></p>
    <p style="color: black; font-size: large; text-align: center">You have no favorites!</p>
}
else
{
    //File located in "./Shared/_RecipeListPartial"
    <partial name="_RecipeListPartial" />
}