@{
    ViewData["Title"] = "Home";
}
<head>
    <style>
        .recipeimage {
            @*background-image: url("/images/background.jpg");*@
            background-color:black;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: 100%;
            height: 100vh;
        }
    </style>
</head>
<body class="recipeimage">
    <div class="text-center">
        <h1 class="display-4" style="color: white ;font-family: 'Tangerine', serif;">Welcome to SimplyFood!</h1>
        <br />
        <div>
            @using (Html.BeginForm("Search", "Home", FormMethod.Get))
            {
                <div class="bar">
                    <form id="click">
                    <input name="userInput"class="searchbar" type="search" title="Search" placeholder="Search Recipes...">
                    </form>
                </div>
            }
        </div>
    </div>
    <br/>
    <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#recipeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#recipeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#recipeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <!--First slide-->
                <div class="col-md-3" style="float:left">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="https://spoonacular.com/recipeImages/Protein-Powerhouse-Veggie-Burgers-630255.jpg">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <h5 class="card-title" style="font-weight:bolder">Protein Powerhouse Veggie Burgers</h5>
                            <p class="card-text">Prep time: 75 mins</p>
                            <a href="/Home/ViewRecipe/262682" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="float:left">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="https://spoonacular.com/recipeImages/Cajun-Spiced-Black-Bean-and-Sweet-Potato-Burgers-227961.jpg">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <h5 class="card-title" style="font-weight:bolder">Cajun Spiced Black Bean and Sweet Potato Burgers</h5>
                            <p class="card-text">Prep time: 20 mins</p>
                            <a href="/Home/ViewRecipe/227961" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="float:left">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="https://spoonacular.com/recipeImages/Meatless-Monday--Grilled-Portobello-Mushroom-Burgers-with-Romesco-and-Arugula-602708.jpg">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <h5 class="card-title" style="font-weight:bolder">Meatless Monday: Grilled Portobello Mushroom Burgers with Romesco and Arugula</h5>
                            <p class="card-text">Prep time: 15 mins</p>
                            <a href="/Home/ViewRecipe/602708" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="float:left">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="https://spoonacular.com/recipeImages/black-bean-mole-burgers-541691.jpg">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <h5 class="card-title" style="font-weight:bolder">Black Bean Mole Burgers</h5>
                            <p class="card-text">Prep time: 45 mins</p>
                            <a href="/Home/ViewRecipe/541691" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <!--Second slide-->
                <div class="col-md-3" style="float:left">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="https://spoonacular.com/recipeImages/indian-chicken-biryani-1073340.jpg">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <h5 class="card-title" style="font-weight:bolder">Indian Chicken Biryani</h5>
                            <p class="card-text">Prep time: 120 mins</p>
                            <a href="/Home/ViewRecipe/1073340" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="float:left">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="https://spoonacular.com/recipeImages/tandoori-chicken-pizza-1180789.jpg">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <h5 class="card-title" style="font-weight:bolder">Tandoori Chicken Pizza</h5>
                            <p class="card-text">Prep time: 45 mins</p>
                            <a href="/Home/ViewRecipe/1180789" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="float:left">
                    <div class="card bg-dark text-blue">
                        <img class="card-img-top" src="https://spoonacular.com/recipeImages/pad-thai-1068656.jpg">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <h5 class="card-title" style="font-weight:bolder">Pad Thai</h5>
                            <p class="card-text">Prep time: 45 mins</p>
                            <a href="/Home/ViewRecipe/1068656" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="float:left">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="https://spoonacular.com/recipeImages/indian-shrimp-biryani-1174021.jpg">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <h5 class="card-title" style="font-weight:bolder">Indian Chicken Biryani</h5>
                            <p class="card-text">Prep time: 40 mins</p>
                            <a href="/Home/ViewRecipe/1174021" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <!--Third slide-->
                <div class="col-md-3" style="float:left">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="https://spoonacular.com/recipeImages/thai-veggie-naan-bread-pizza-1445219.jpg">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <h5 class="card-title" style="font-weight:bolder">Thai Veggie Naan Bread Pizza</h5>
                            <p class="card-text">Prep time: 45 mins</p>
                            <a href="/Home/ViewRecipe/1445219" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="float:left">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="https://spoonacular.com/recipeImages/garlic-butter-asparagus-pasta-859102.jpg">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <h5 class="card-title" style="font-weight:bolder">Garlic Butter Asparagus Pasta</h5>
                            <p class="card-text">Prep time: 20 mins</p>
                            <a href="/Home/ViewRecipe/859102" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="float:left">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="https://spoonacular.com/recipeImages/Spaghetti-Carbonara-535835.jpg">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <h5 class="card-title" style="font-weight:bolder">Spaghetti Carbonara</h5>
                            <p class="card-text">Prep time: 25 mins</p>
                            <a href="/Home/ViewRecipe/535835" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="float:left">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="https://spoonacular.com/recipeImages/One-Pot-Wonder-Tomato-Basil-Pasta-666437.jpg">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <h5 class="card-title" style="font-weight:bolder">One Pot Wonder Tomato Basil Pasta</h5>
                            <p class="card-text">Prep time: 30 mins</p>
                            <a href="/Home/ViewRecipe/666437" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</body>
